body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #2c3e50; /* Dark background for depth */
    font-family: 'Open Sans', sans-serif; /* Sleek, readable font */
}

.page-container {
    color: white;
    text-align: center;
    padding: 50px;
}

.page-header h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.words-section .word-entry {
    margin-bottom: 30px;
}

.words-section .word-entry h2 {
    font-size: 2rem;
    color: #e74c3c; /* Color that stands out */
}

.words-section .word-entry p {
    font-size: 1.25rem;
    margin-top: 10px;
    color: #ecf0f1; /* Lighter text for contrast */
}
.back-button {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 20px; /* 20 pixels from the bottom */
    left: 20px; /* 20 pixels from the left */
    background-color: #3498db; /* Stylish blue background color */
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
    text-decoration: none; /* Removes underline from the link */
    font-weight: bold; /* Makes the font bold */
    border-radius: 5px; /* Rounded corners for the button */
    font-size: 1em; /* Adjust the size of the text as needed */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    z-index: 1000; /* Ensures the button is above other elements */
}

.back-button:hover {
    background-color: #2980b9; /* Darker blue on hover for visual feedback */
}